#
# build.yml
# Copyright (c) 2025 Marius Greuel
#

name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  runtimes:
    strategy:
      matrix:
        include:
          - { rid: win-x64, os: windows-2025, configuration: Release, platform: x64 }
          - { rid: win-x86, os: windows-2025, configuration: Release, platform: x86 }
          - { rid: win-arm64, os: windows-2025, configuration: Release, platform: ARM64 }
          - { rid: linux-x64, os: ubuntu-22.04 }
          - { rid: linux-x86, os: ubuntu-22.04, packages: gcc-i686-linux-gnu, cross-cc: i686-linux-gnu-gcc }
          - { rid: linux-arm, os: ubuntu-22.04, packages: gcc-arm-linux-gnueabihf, cross-cc: arm-linux-gnueabihf-gcc }
          - { rid: linux-arm64, os: ubuntu-22.04, packages: gcc-aarch64-linux-gnu, cross-cc: aarch64-linux-gnu-gcc }
          - { rid: osx-x64, os: macos-15-intel, configuration: Release }
          - { rid: osx-arm64, os: macos-latest, configuration: Release }
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: Install prerequisites (Linux)
        if: ${{ contains(matrix.os, 'ubuntu') && matrix.packages }}
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ matrix.packages }}
      - name: Setup MSBuild (Windows)
        if: ${{ contains(matrix.os, 'windows') }}
        uses: microsoft/setup-msbuild@v2
      - name: Build native libraries (Windows)
        if: ${{ contains(matrix.os, 'windows') }}
        working-directory: tree-sitter-native
        run: msbuild tree-sitter-native.sln /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}
      - name: Build native libraries (Linux or macOS)
        if: ${{ (contains(matrix.os, 'ubuntu') || contains(matrix.os, 'macos')) && !matrix.cross-cc }}
        working-directory: tree-sitter-native
        run: make RID=${{ matrix.rid }}
      - name: Build cross platform libraries (Linux)
        if: ${{ contains(matrix.os, 'ubuntu') && matrix.cross-cc }}
        working-directory: tree-sitter-native
        run: make RID=${{ matrix.rid }} CC=${{ matrix.cross-cc }}
      - name: Archive build artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: runtimes-${{ matrix.rid }}
          path: build
  tests:
    strategy:
      matrix:
        include:
          - { rid: win-x86, os: windows-2025 }
          - { rid: win-x64, os: windows-2025 }
          - { rid: win-arm64, os: windows-11-arm }
          - { rid: linux-x64, os: ubuntu-24.04 }
          - { rid: linux-arm64, os: ubuntu-24.04-arm }
          - { rid: osx-x64, os: macos-15-intel }
          - { rid: osx-arm64, os: macos-latest }
    runs-on: ${{ matrix.os }}
    needs: runtimes
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Download native tree-sitter libraries
        uses: actions/download-artifact@v5
        with:
          name: runtimes-${{ matrix.rid }}
          path: build
      - name: Run tests (normal mode)
        if: runner.debug != '1'
        working-directory: tests
        run: dotnet test --runtime ${{ matrix.rid }}
      - name: Run tests (debug mode)
        if: runner.debug == '1'
        working-directory: tests
        run: dotnet test --runtime ${{ matrix.rid }} --logger:"console;verbosity=detailed" --environment TREESITTER_DEBUG_LOADER=1
  nuget:
    runs-on: windows-2025
    needs: tests
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Download native tree-sitter libraries
        uses: actions/download-artifact@v5
        with:
          path: build
          merge-multiple: true
      - name: Build NuGet package
        working-directory: src
        run: dotnet pack
      - name: Archive NuGet package
        uses: actions/upload-artifact@v4
        with:
          name: nuget-package
          path: src/bin/Release/*.nupkg
  release:
    runs-on: windows-2025
    needs: nuget
    if: github.ref_type == 'tag'
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    permissions:
      contents: write
    steps:
      - name: Download NuGet package
        uses: actions/download-artifact@v5
        with:
          name: nuget-package
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: TreeSitter.DotNet.*.nupkg
      - name: Publish
        run: dotnet nuget push TreeSitter.DotNet.*.nupkg --api-key ${{ secrets.NUGET_APIKEY }} --source https://api.nuget.org/v3/index.json
